.CButton{
    display: flex;
    margin: 15px;
    border: 0;
    padding: 12px 25px;
    border-radius: 4px;
    background: rgb(94, 94, 94);
    -webkit-box-shadow: 0px 5px 15px -2px rgba(0,0,0,0.10); 
    box-shadow: 0px 5px 15px -2px rgba(0,0,0,0.10);
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;
    color: white;
}
.CButton:hover{
    background: black;
}

/* j'ai ajouté !important à la fin de chaque pour être sur que ces règles soit appliqué par dessus celle des Buttons du chakra UI */
.negative {
    background: #e84118 !important ;
}
.negative:hover{
    background: #af3112 !important ;
}

.submit{
    background: green !important ;
}
.submit:hover{
    background: rgb(0, 110, 0) !important ;
}

.positive{
    background: green !important ;
}
.positive:hover{
    background: rgb(0, 110, 0) !important ;
}

.CButton.disabled{
    background: rgb(179, 179, 179);
    cursor: not-allowed;
    pointer-events: none;
}
.CButton.disabled:hover{
    background: rgb(179, 179, 179);
    cursor: not-allowed;
}