.posterImg{
    width: 100%;
    align-self: center;
    justify-self: center;
}
.horizontalScroller{
    display: flex;
    flex-direction: row;
    max-width: unset;
    justify-content: center;
}
.posterBlurredTotal{
    position: absolute;
    left: -10vw;
    top: -10vh;
    width: 120vw;
    height: 120vh;
    filter:blur(30px);
    max-width: unset;
    max-height: unset;
    opacity: .5;
}
.onHoverPoster{
    transform: scale(1);
    transition: transform .5s;
}
.onHoverPoster:hover{
    transform: scale(1.05);
}